<% if user_signed_in? %>
<% if not current_user[:is_master_user] %>

<div class="container">
  <h2>Your Retweets</h2>
  <table class="table">
    <thead>
      <tr>
        <td>
          Tweet
        </td>
        <td>
          Original Publish Time
        </td>
        <td>
          Retweet Publish Time
        </td>
      </tr>
    </thead>
    <tbody>
      <% current_user.account.twitter_shares.each do |t| %>
      <tr>
        <td>
          <%= t.twitter_post[:text] %>
          </td>
          <td>
            <%= t.twitter_post[:publish_time].in_time_zone.strftime("%m/%d/%Y at %I:%M%p ")+ Time.zone.to_s %>
          </td>
          <td>
            <% if t[:publish_time] %>
            <%= t[:publish_time].in_time_zone.strftime("%m/%d/%Y at %I:%M%p ")+ Time.zone.to_s %>
            <% else %>
            Not published
            <% end %>
          </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>


<% else %>
<h2>You are the master user! </h2>
<% end %>
<% end %>